
.b br{
	display:block;
}

.bg{
	background: url('layout.png') no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	position:fixed;

}

.msg__error{
	padding: 0px 20px;
	font-style: italic;
	color: red;

}

.form-container{
	position:fixed;
	top: 17vh;
	padding: 0px;
}

.btn-lg{
	padding:25px 30px;
	font-size: 20px;
	width: 200px;
	text-align: center;
}

/* Formatações básicas de margem e padding para padronização do estilo */
.mg{
	margin: 50px;
	
}

.pad{
	padding: 20px;

}

/* Estilo do botão "+" de criar novo formulário no login de usuário externo */
.btn-add{
	font-size:20px;
	font-weight: bold;
	width:120%;
}


/* Estilos das classes ligadas às tabelas de consulta */
.tbl_h{
	color: white;
	border: 1px solid #dddddd;
	text-align: center;
	background-image: linear-gradient(to right, rgb(0, 200, 0), rgb(0, 153, 0));

}

.tbl_r:hover, .tbl_c{
	text-align: center;
	padding: 5px;
	border: 1px solid #dddddd;
}

.tbl{
	border-spacing: 1;
	width: 60%;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	overflow-x: auto;
}

/* Parâmetros para a formatação de uma seção contida em um container */
.divisorias__form{ 
	border: 1px solid silver;
	width: 70%;
	margin-top: 20px;
	border-radius: 15px;
	background-color: ivory;
	padding: 15px 10px;
	box-shadow: 5px 2px 10px lightgray;
}

/* Cria espaçamento entre duas subseções nos formulários ex: 1.2.3 -> 1.2.4*/
.divisorias__form_interna{  
	margin-top: 50px;
}

/* Cria um espaçamento entre os itens do formulário e deve ser utilizado entre itens de uma subseção ex: 1.2.4. pergunta 1 -> pergunta2 */
.divisorias__subinternas{ 
	margin-top: 20px;
	margin-bottom: 5px;
}

/* Formatatação para estilo do subtítulo do formulário trabalhado */
.form__subtitle{
	font-style: italic;
	color: red;
	font-weight: bold;
}

.itens{
	font-weight: bold;
}

#sintese tr:hover {background-color: #ddd;}

th{
	border: 1px solid #dddddd;
}

