
.b br{
	display:block;
}

.bg{
	background: url('layout.png') no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	position:fixed;

}

.msg__error{
	padding: 0px 20px;
	font-style: italic;
	color: red;

}

.form-container{
	position:fixed;
	top: 17vh;
	padding: 0px;
}

.btn-lg{
	padding:25px 30px;
	font-size: 20px;	
	width: 80%;
	text-align: center;
}

.mg{
	margin: 100px;
	
}

.btn-add{
	font-size:20px;
	font-weight: bold;
	width:120%;
}

.tbl_h{
	color: white;
	border: 1px solid #dddddd;
	text-align: center;
	background-image: linear-gradient(to right, rgb(0, 200, 0), rgb(0, 153, 0));

}

.tbl_r:hover, .tbl_c{
	text-align: center;
	padding: 10px;
	border: 1px solid #dddddd;
}

.tbl{
	border-spacing: 1;
	width: 70%;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	overflow-x: auto;
}

.divisorias__form{
	border: 1px solid darkgreen;
	width: 70%;
	margin-top: 20px;
	border-radius: 15px;
	background-color: mintcream;
	padding: 15px 10px;
}

.itens{
	font-weight: bold;
}

#sintese tr:hover {background-color: #ddd;}

th{
	border: 1px solid #dddddd;
}

