{% extends "base_admin.html" %}
{% block addhead %}
{% endblock %}
{% block content %}
{% endblock %}
{% block body%}

<h5>Selecione o ano-base de ICMS Ecológico que deseja consultar: </h5>

<div class="row container-fluid mg" style="background:#ddd;">

	<table class="tbl">
		<tr class="tbl_h">
			<th>Ano de análise</th>		
		</tr>
		{% for row in data %}
		<tr class="tbl_r">
			{% for cell in row %}
			<td class="tbl_c">{{cell}}</td>
			{% endfor %}
			<td class="tbl_c"><a href="#">Visualizar</a></td>
		</tr>
		{% endfor %}
	</table>

</div>



{% endblock %}


