{% extends "base_admin.html" %}
{% block addhead %}
{% endblock %}
{% block content %}
{% endblock %}
{% block body%}

<p style="padding:20px; font-weight:bold;">Lista de usuários cadastrados no Siseco:</p>

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p class="msg__error">{{ message }}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

<div class="container-fluid justify-content-center">

	<!--Cadastrar novo usuário-->
	<button data-toggle="modal" class="btn btn-info" data-target="#modal_add_usr">Novo</button>

	<div class="modal fade" id="modal_add_usr" tabindex="-1" role="dialog" aria-labelledby="#modal2" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="POST">
					<div class="modal-header">
						<h5 class="modal-title" id="modal2">Cadastro de Novo Usuário</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">

							<div class="form-group">
								<label>Nome do Municípios/Técnico:</label>
					        	<input name="new_user" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Nome para login:</label>
					        	<input name="new_username" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Senha:</label>
					        	<input name="new_pwd" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Tipo de usuário:</label>
								<p style="font-size: 11px; color:gray;">Caso nenhuma alternativa seja selecionada, o usuário será criado como "Externo"</p>
								<select name="new_usr_type" class="form-control">
									<option value="ext">-</option>
									<option value="ext">Externo</option>
									<option value="tech">Técnico</option>
								</select>
							</div>

					</div>
					<div class="modal-footer">
						<button name="action" type="submit" class="btn btn-primary" value="add">Adicionar</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!--Editar informações do usuário existente-->
	<button data-toggle="modal" class="btn btn-info" data-target="#modal_edit_usr">Editar</button>

	<div class="modal fade" id="modal_edit_usr" tabindex="-1" role="dialog" aria-labelledby="#modal2" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="POST">
					<div class="modal-header">
						<h5 class="modal-title" id="modal2">Editar Informações de Usuário Existente</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">

							<div class="form-group">
								<label>Digite o ID do usuário cujas informações deseja editar:</label>
					        	<input name="user_id" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Novo nome do Municípios/Técnico:</label>
					        	<input name="edit_user" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Novo nome para login:</label>
					        	<input name="edit_username" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Nova senha:</label>
					        	<input name="edit_pwd" class="form-control" type="text">
							</div>
							<div class="form-group">
								<label>Alterar tipo de usuário:</label>
								<select name="edit_usr_type" class="form-control">
									<option value="">-</option>
									<option value="ext">Externo</option>
									<option value="tech">Técnico</option>
								</select>
							</div>

					</div>
					<div class="modal-footer">
						<button name="action" type="submit" class="btn btn-primary" value="edit">Editar</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!--deletar usuário existente-->
	<button data-toggle="modal" class="btn btn-info" data-target="#modal_del_usr">Deletar</button>

	<div class="modal fade" id="modal_del_usr" tabindex="-1" role="dialog" aria-labelledby="#modal2" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="POST">
					<div class="modal-header">
						<h5 class="modal-title" id="modal2">Exclusão de Usuário Existente</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">

							<div class="form-group">
								<label>Digite o ID do usuário que deseja excluir:</label>
					        	<input name="user_id" class="form-control" type="text">
							</div>

					</div>
					<div class="modal-footer">
						<button name="action" type="submit" class="btn btn-primary" value="del">Excluir</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!--randomizar senhas dos usuários externos-->
	<button data-toggle="modal" class="btn btn-info" data-target="#modal_rand_pwd">Randomizar senhas (ext)</button>

	<div class="modal fade" id="modal_rand_pwd" tabindex="-1" role="dialog" aria-labelledby="#modal2" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="POST">
					<div class="modal-header">
						<h5 class="modal-title" id="modal2">Alterar todas as senhas do usuário externo.</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
					</div>
					<div class="modal-body">

							<div class="form-group">
								<label>Quantos caracteres deseja que a senha aleatória tenha?</label>
					        	<input name="pwd_size" class="form-control" type="text">
							</div>

					</div>
					<div class="modal-footer">
						<button name="action" type="submit" class="btn btn-primary" value="randomize_ext">Gerar</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid justify-content-center" id="usuarios" style="padding:10px;">
	<table class="tbl">
		
		<tr class="tbl_h">
			<th>ID</th>
			<th>Município/Nome</th>
			<th>Usuário</th>
			<th>Senha</th>
			<th>Tipo de acesso</th>
		</tr>
		{% for row in data %}
		<tr class="tbl_r">
			{% for cell in row %}
			<td class="tbl_c">{{cell}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>


{% endblock %}


