<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Siseco - Imasul</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />

</head>
<body>
	<section class="container-fluid bg">
											<br />
	<h4 align="right">	
		<font face="Tahoma" size= "4" color="white"> 
		Sistema Informatizado de ICMS Ecológico de Mato Grosso do Sul - Siseco/MS
		</font> &nbsp; &nbsp;
	</h4>
		<section class="row justify-content-center">
			<section class="form-container col-11 col-sm-3">

					<div class="card">
					<article class="card-body">
					<h4 class="card-title mb-4 mt-1">Login</h4>
						<form method="POST">
					    <div class="form-group">
					    	<label>Usuário</label>
					        <input name="un" class="form-control" placeholder="Inserir nome de usuário" type="text">
					    </div> <!-- form-group// -->
					    <div class="form-group">
					    	<a class="float-right" href="#">Esqueceu a senha?</a>
					    	<label>Senha</label>
					        <input name="pass" class="form-control" placeholder="******" type="password">
					    </div> <!-- form-group// --> 
					    <div class="form-group"> 
					    <div class="checkbox">
					      <label> <input type="checkbox"> Lembrar de mim </label>
					    </div> <!-- checkbox .// -->
					    </div> <!-- form-group// -->  
					    <div class="form-group">
					        <button type="submit" class="btn btn-success btn-block" value ="Submit"> Login  </button>
					    </div> <!-- form-group// -->               
						</form>
					</article>
					</div> <!-- card.// -->

			</section> <!-- end of form-container configuration.// -->
		</section> <!-- end of row configuration.// -->	
	</section> <!-- end of container-fluid background.// -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>