{% extends "base_userext.html" %}
{% block addhead %}
{% endblock %}
{% block content %}
{% endblock %}
{% block body %}

<div class ="row conainer-fluid col-md-5" style="margin:50px 50px 50px 40px;">
	<div class="" style="margin:10px 20px;">
		<h5>Adicionar cadastro de ICMS Ecológico para o ano de {{este_ano}}</h5>
	</div>
	<div>
		<a role="button" href="#" class="btn btn-success btn-add d-flex justify-content-center"> + </a>
	</div>
</div>

<div class="container-fluid justify-content-center">
	<table class="tbl">
		<tr class="tbl_h">
			<th>Ano</th>
			<th>N° de processo</th>
			<th>Requerimento</th>
			<th>Situação</th>
			<th>Índice</th>
			<th>Acesso</th>			
		</tr>
		{% for row in data %}
		<tr class="tbl_r">
			{% for cell in row %}
			<td class="tbl_c">{{cell}}</td>
			{% endfor %}
			<td class="tbl_c"><a href="#">Visualizar</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
