{% extends "base_userext.html" %}
{% block addhead %}
{% endblock %}
{% block content %}
{% endblock %}
{% block body %}

<div class ="row container-fluid col-md-5" style="margin:50px 50px 50px 40px;">
	<div class="" style="margin:10px 20px;">
		<h5>Adicionar cadastro de ICMS Ecológico para o ano de {{este_ano}}</h5>
	</div>
	<div>
		{% if add_lock == True: %}
			<a href="#" data-toggle="popover" title="Aviso" data-trigger="focus" data-content="O Imasul ainda não liberou a criação de novos requerimentos, por gentileza aguardar notificação de liberação!" class="btn btn-success btn-add d-flex justify-content-center"> + </a>

		{% else %}
			{% if req_check != None: %}
				<a href="#" data-toggle="popover" title="Aviso" data-trigger="focus" data-content="O requerimento para este ano já foi criado, por favor consultar na tabela abaixo!" class="btn btn-success btn-add d-flex justify-content-center"> + </a>
			
			{% else %}
				<a role="button" href="{{url_for('userext_envios_novo')}}"class="btn btn-success btn-add d-flex justify-content-center"> + </a>

			{% endif %}
		{% endif %}
	</div>
</div>

<div class="container-fluid justify-content-center" id="sintese">
	<table class="tbl">
		<tr class="tbl_h">
			<th>Ano de análise</th>
			<th>N° de processo</th>
			<th>Requerimento</th>
			<th>Situação</th>
			<th>Índice</th>
			<th>Acesso</th>			
		</tr>
		{% for row in data %}
		<tr class="tbl_r">
			{% for cell in row %}
			<td class="tbl_c">{{cell}}</td>
			{% endfor %}
			<td class="tbl_c"><a href="#">Visualizar</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
